@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}
*ul {
  list-style: none;
}

*button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f7fa;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}
